* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --font-Open: 'Open Sans', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;

}

/*nawigacja i nagłówek*/
header {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px #00000029;

}
.container {
    width: 1352px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.logo {
    color: var(--color-primary);
    font-family: var(--font-Raleway);
    font-weight: 300;
    font-size: 32px;
    margin: 16px 0 17px 0;
}
header ul {
    display: flex;
    font-family: var(--font-Open);
    font-weight: bold;
    font-size: 11px;
    color: var(--color-grey);

}
header li:not(.nav__contact) {
    margin-right: 95px;
}
header li:hover {
    color: #000000;
    text-decoration: underline 4px;
    text-decoration-color: var(--color-primary);
    text-underline-offset: 26px;
    cursor: pointer;
}
.opener {
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.opener .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: var(--font-Raleway);
    font-size: 49px;
}
.slogan {
    font-family: var(--font-Open);
    font-size: 16px;
    margin: 20px 0 38px 0;
}
header button {
    width: 440px;
    height: 67px;
    background-color: var(--color-primary);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

/*Statystyki*/
.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: var(--font-Raleway);
    font-size: 36px;
    margin: 100px 0;

}
.boxes {
    display: flex;

}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1,
.box2 {
    margin-right: 185px;

}
.box::before {
    content: "";
    width: 63px;
    height: 63px;
    display: flex;
    border-radius: 50%;
    background-color: var(--color-redish);
    position: relative;
    z-index: -1;
    left: -23px;
    top: 55px;
}
.box2::before {
    content: "";
    background-color: var(--color-primary);
}
.box3::before {
    content: "";
    background-color: var(--color-green);
}

img + p {
    margin-bottom: 19px;
    font-family: var(--font-Raleway);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 6px;
}


.boxes .box1 p:nth-child(2),
.boxes .box3 p:nth-child(2) {
    margin-top: 22px;
}
.boxes .box2 p:nth-child(2) {
    margin-top: 25px;
}
.content__box {
    font-family: var(--font-Raleway);
    font-size: 16px;
    color: var(--color-grey);
    margin-bottom: 121px;

}

/*benefity*/

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-light-grey);
}
.benefits__boxes {
    font-family: var(--font-Open);
    font-size: 16px;
    width: 1124px;
    height: 370px;
    background-color: white;
    margin-top: 105px;
    margin-bottom: 37px;
    border: 1px solid #E8E9ED;
}
.box_mac {
    display: flex;

}
.box_text::after {
    content: "";
    width: 328px;
    border: 4px solid var(--color-redish);
    background-color: var(--color-redish);
    position: absolute;
    margin-top: 50px;
    margin-left: 36px;
}
.ben_box p {
    width: 416px;
    margin-left: 36px;
    /*font-family: var(--font-Open);*/
    /*font-size: 16px;*/

}
.ben_box h2 {
    margin: 91px 0 30px 36px;

}

.box_mac img {
    width: 386px;
    height: 219px;
    position: relative;
    top: 110px;
    left: 160px;
    z-index: 1;

}
.shape {
    display: flex;
}
.shape::after {
    content:'';
    width: 180px;
    height: 180px;
    border-radius: 41px;
    background-color: var(--color-redish);
    transform: rotate(45deg);
    position: relative;
    top: 80px;
}
.benefits__box2 {
    margin-top: 0;
}
.box_phone {
    display: flex;
    flex-direction: row-reverse;
}
.box_phone img {
    width: 426px;
    height: 328px;
    position: relative;
    top: 30px;
    left: 120px;
    z-index: 1;
}

.box_phone .shape::after {
    content: "";
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: relative;
    top: 10px;
    right: 300px;
}
.box_phone h2 {
    margin-top: 69px;

}
.box_phone p {
    margin-right: 20px;
}

.box_phone .box_text::after {
    content: "";
    border:4px solid var(--color-primary);
    background-color: var(--color-primary);
}
.benefits__box3 {
    display: flex;
    margin-bottom: 105px;
}
.box_trumpet {
    width: 623px;
    height: 370px;
    background-color: white;
    font-family: var(--font-Open);
    font-size: 16px;
    border: 1px solid #E8E9ED;
    margin-right: 61px;

}

.box_trumpet .box_text::after {
    content: "";
    border: 4px solid var(--color-green);
    background-color: var(--color-green);
}
.rectangle {
    width: 440px;
    height: 370px;
    background-color: var(--color-green);
}
.rectangle img {
    width: 296px;
    height: 208px;
    position: relative;
    top: 100px;
    left: 50px;

}
.box_trumpet p {
    width: auto;
}

.pricing {
    display: flex;
    justify-content: center;
}
.pricing .container {
    display: flex;
    flex-direction: column;
    width: 1266px;
}
.pricing h2 {
    margin-bottom: 50px;
}

.pricing .container>div {
    display: flex;
    align-items: center;
}
.pricing_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 372px;
    height: 461px;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    margin-right: 59px;
}
h4 {
    font-family: var(--font-Raleway);
    font-weight: bold;
    font-size: 20px;
    color: #13253B;
    margin: 34px 0 14px 0;
}
h3 {
    font-family: var(--font-Open);
    font-weight: lighter;
    font-size: 46px;
    color: var(--color-redish);
    margin-top: 14px;
    margin-bottom: calc(69px - 20px);
}
.pricing_box ul {
    font-family: var(--font-Open);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing_box li {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    /*align-items: center;*/
}
.pricing_box li::before {
    content: url("../../assets/Ckechmark-1.svg");
    width: 5px;
    height: 5px;
    display: flex;
}
.pricing_box .basic li:nth-child(1n + 4)::before {
    content: url("../../assets/Close.svg");
    width: 5px;
    height: 5px;
    display: flex;
}
.pricing_box .professional li:last-child::before {
    content: url("../../assets/Close.svg");
    width: 5px;
    height: 5px;
    display: flex;
}
.profes_1 {
    width: 405px;
    height: 500px;
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
    border: 1px solid #07ACE6;
}
.prem_1 {
    border: 1px solid var(--color-green);
}

.professional p {
    margin-bottom: calc(61px - 20px);
}
.premium p {
    margin-bottom: calc(50px - 20px);
}
.premium h3,
.professional h3 {
    margin: 0;
}
.premium p,
.professional p {
    font-family: var(--font-Raleway);
    font-weight: bold;
    font-size: 12px;
}
.pricing_box button {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    border: none;
    background-color: #EB476E;
    color: white;
    font-family: var(--font-Open);
    font-weight: bold;
    font-size: 13px;
    position: relative;
    top: 7%;
}
.professional button {
    width: 165px;
    background-color: #07ACE6;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}
.premium button {
    background-color: #55DFB4;
}
/*KONTAKT*/
.contact {
    display: flex;
    justify-content: center;
    margin-top: 179px;
}
.contact .container {
    display: flex;
    align-items: flex-start;
    width: 896px;
}
.contact p {
    font-family: var(--font-Open);
    font-size: 16px;

}
.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info {
    display: flex;
    gap: 57px;
}
.info p {
    color: var(--color-grey);
}
.mail,
.phone {
    display: flex;
    align-items: center;
}
.mail::before {
    content: url("../../assets/Mail Icon.svg");
    width: 27px;
    height: 27px;
}
.phone::before {
    content: url("../../assets/Phone Icon.svg");
    width: 27px;
    height: 27px;
}
.questions>p {
    margin: 22px 0 42px 0;
}
.leave_name {
    width: 440px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
input[type="text"],
input[type="email"] {
    width: 440px;
    height: 57px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #95989A;
    padding-bottom: 43px;

}
input[type="email"] {
    margin-bottom: 30px;
}

input::placeholder {
    color: #08A6E4;
    font-size: 11px;
}
.tick {
    font-size: 12px;
    color: #707070;
    display: flex;
}

input[type="checkbox"] {
    appearance: none;
    display: flex;
    color: blue;
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}
.tick input:checked {
    background-image: url("../../assets/Checkmark.svg");
    background-size: cover;

}
.leave_name button {
    width: 226px;
    height: 57px;
    margin-top: 20px;
    margin-bottom: 59px;
    border: 0;
    border-radius: 35px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    background-color: var(--color-primary);
    color: white;
    font-family: var(--font-Open);
    font-weight: bold;
    font-size: 13px;
}

footer nav {
    box-shadow: 0 -5px 40px #00000029;
}
footer .logo {
    font-size: 26px;
    margin: 20px 0 6px 0;
}
footer p {
    color: var(--color-grey);
    font-size: 11px;
    margin-bottom: 17px;
}
.icons > a {
    margin-right: 20px;
}